h1, h2 {
    color: rgb(40, 10, 128);
}
body {
    text-align: center;
}
section {
    background-color: rgb(167, 146, 186);
    padding: 10px;
    border: 1px solid rgb(23, 1, 33);
}
section img {
    max-width: 75%;
    height: auto;
    box-shadow: 5px 5px 5px rgb(57, 57, 57);
}
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 15px;
}