:root {
    --main-color: #317171;
    --secondary-color: #0b6623;
    --accent-color: #01385e;
    --default-light: #ffffff;
    --header-font: 'helvetica', sans-serif;
    --paragraph-font: 'open sans' sans-serif;
}

/* styling for html and body */
html { background-color: #78beb6;
    background: linear-gradient(to left, #c5efe4, #018967); }

body {
    margin: 0;
    display: grid;
    grid-template-columns: auto 80% auto;
   
}
body > * {
    grid-column: 2;
}

/* Font Styles */
h1 {
    font-size: 2.8em;
    
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.1em;
   
}
h1, h2, h3, h4, th {
    font-family: 'helvetica', sans-serif;;
    text-align: center;
   
}
p, span, div, li, td, a, figcaption, form {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
/* Style the navigation menu */
.topnav {
    background-color: #317171;
    position: relative;

  }
    
  ul {
    list-style-type: none;
  }
 
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #01385E;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #01385E;
    color: white;
  }

/* Styles for the header and elements inside the header */
header {
    z-index: 5;
    padding: 0.5rem 1rem;
    position: relative;
    text-align: center;
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    text-shadow: 1px 1px 1px gray;
    grid-template-columns: 1fr;
    display: flex;
}

#logo {
    max-width: 15vw;
    grid-column: 1;
    grid-row: 1/3;
    justify-self:left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.banner {
    text-align: center;
    display: flex;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .banner-box {
      grid-column: 1/11;
      grid-row: 1/3;
  }
  .banner-img {
    width: 100%;
    height: 500px;
     grid-column: 1/11;
    grid-row: 1/3;
  }
  

header> div > span {
    display: block;
    color: var(--secondary-color);
    padding-bottom: 1rem;
    justify-self: start;
    grid-column: 2;
    padding-left: 10px;
}
h1 {
    grid-column: 2;
    justify-self: start;
    color: var(--default-light);
    margin-top: 0.75rem;
    margin-bottom: 0;
}

P{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:#01385E;
}
pre{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

#top {
    animation:blinkingText 4s infinite;
    }
    @keyframes blinkingText{
    0%{   color: rgb(194, 167, 17);   }
    20%{  color: rgb(101, 68, 5); }
    40%{  color: rgb(7, 75, 48);}
    60%{  color: rgb(8, 78, 119);   }
    100%{ color: rgb(130, 130, 7);   }
}

.cta {
    display: block;
    max-width: 80%;
    text-align: center;
    font-size: 1rem;
    background-color: #284b63;
    border-color: #3c6e71;
    border-radius: 0.6rem;
    padding: 1rem 1.5rem;
    margin: 0.5rem auto;
  }
  
  .cta a, #layout {
    color: #d9d9d9;
  }

/*Nav styles */ 

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
  
    box-sizing: border-box;
}
    

    nav {
        background-color: #0b6623;
        text-align: center;
        padding: 0.5rem;
       
        font-size: 2rem;
        font-weight: bold;
    }
    
    nav ul {
        list-style-type: none;
        width: 100%;
        display: flex;
        justify-content: flex-start; 
        align-items: center;
        
    }

    nav li{
      height: 50px;
    }

    nav a{
      height: 100%;
      padding: 0 30px;
      text-decoration: none;
      display: flex;
      align-items: center;
      color: #f0f0f0;

    }
    nav a:hover{
      background-color: #01385e;
    }

    nav li:first-child{
      margin-right: auto;
    }

    .sidebar{
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 250px;
      z-index: 999;
      background-color: #0b6623;
      backdrop-filter: blur(10px);
      box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
      display: none;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    
    .sidebar li{
      width: 100%;
    }

    .sidebar a{
      width: 100%;
    }
    .menu-button{
      display: none;
    }
    @media(max-width: 800px){
      .hideOnMobile{
        display: none;
      }
      .menu-button{
        display: block;
      }
    }

    @media(max-width: 400px){
      .sidebar{
        width: 100%;
      }
    }
    
    

/* Styles for the main and the children of main */
main {
    padding: 1px 1em;
    background-color: var(--default-light);
}
h2 {
    color: #317171;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
h4 {
    color: #317171;
    grid-column: 2;
    justify-self: start;
    margin-top: 0.75rem;
    margin-bottom: 0;
    }
    
    h3{
        background-color: #01385E;
        color: #ffffff;
        padding: 1rem;
        border-radius: 10px;
    }

section {
    padding: 0 1em;
}

/* card-images section*/

   .card-img {
    height: 400px;
    box-shadow: 4px 4px 4px #000000;
    transition: transform .5s;
    border-radius: 0;
    max-width: 85%;
    margin: 0.5rem auto;
 
       
  }
  .card-img:hover {
      opacity: .75;
      transform: scale(1.1);
    border-radius: 50%;
  }
  
  /*join us button*/

  .join-button {
    background-color: #0b6623;
    border-radius:  25px;
    border: 2px #ffffff solid;
    box-shadow: 2px 6px 12px #000000;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
  }

.join-button:hover {
         color: #d85a33;
        background-color: #01385E;
        box-shadow: 4px 4px 4px #000000;
      }
/**Spot light section**/

.spotlight {
    display: flex;
    margin-top: 20px; /* Adjust as needed */
  }
  
  .spotlight-1,
  .spotlight-2,
  .spotlight-3 {
    flex: 1;
    margin: 0 10px;
    text-align: center;
  }
  
  .spotlight img {
    max-width: 100%;
    height: auto;
    margin-top: 10px; /* Adjust as needed */
  }
  

/* Style for the footer */
footer {
  background-color: #0b6623;
    position: relative;
    color: white;
    padding: 0.75em;
    border-radius: 5px;
    text-align: center;
    z-index: 5;
}
p.footer-text{
  color: #f0f0f0;
}
/* Style the "Last Modified" paragraph */
.last-modified {
  color: white; /* Set the color to white */
  font-weight: bold;
}


p.custom{
color:#c5efe4;
}

#social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust as needed for spacing between icons */
  }
  
  #social a {
    display: block;
    text-align: center;
  }
  
  #contact {
    text-align: center;
    margin-top: 20px; /* Adjust as needed for spacing between social icons and contact information */
  }

  /* Chamber container*/
  
 .container-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust as needed */
  }
  
  .Chamber-container {
    flex: 1;
    max-width: calc(33.33% - 20px); /* 33.33% width for each container with a gap of 20px */
    box-sizing: border-box;
  }
  
  .card-img {
    width: 100%; /* Ensure images take full width within their container */
  }
  
  /* Adjust styles for each section as needed */
  #top,
  h2,
  h3 {
    width: 100%; /* Ensure headings take full width initially */
  }
  
  .join-button-container {
    width: 100%; /* Ensure the button container takes full width */
    box-sizing: border-box;
  }

  /* Media query for smaller screens */
@media (max-width: 768px) {
  .container-group {
    flex-direction: column; /* Stack items on top of each other */
  }

  .Chamber-container {
    max-width: 100%; /* Full width for smaller screens */
  }
}

/* Media query for medium screens */
@media (max-width: 1200px) {
  .container-group {
    flex-direction: column; /* Stack items on top of each other for medium screens */
  }

  .Chamber-container {
    max-width: 100%; /* Full width for each container on medium screens */
    margin-bottom: 20px; /* Add margin between stacked items */
  }
}

/* Media query for small and medium screens - Map*/
@media (max-width: 768px) {
  .contact-info iframe {
    width: 100%; /* Make the map full width on small and medium screens */
    height: 300px; /* Set the desired height for small and medium screens */
  }
}

/* spot light Media query for small and medium screens */
@media (max-width: 768px) {
  .spotlight {
    flex-direction: column; /* Stack spotlights on top of each other for small and medium screens */
    margin-top: 20px; /* Add margin between stacked spotlights */
  }
  
  .spotlight-1,
  .spotlight-2,
  .spotlight-3 {
    margin-bottom: 20px; /* Add margin between stacked spotlights */
  }
}

/* hero image Media query for small and medium screens */
@media (max-width: 960px) {
  .hero img {
    width: 100%; /* Make the image full width on small and medium screens */
    height: auto; /* Maintain the aspect ratio */
  }
}

/* hero image Media query for screens with width up to 957px */
@media (max-width: 957px) {
  .hero img {
    width: 100%; /* Make the image 100% width */
    height: auto; /* Maintain the aspect ratio */
  }
}

/* hero image Media query for screens with width between 957px and 1220px */
@media (min-width: 957px) and (max-width: 1220px) {
  .hero img {
    width: 80%; /* Adjust the percentage based on your design preference */
    height: auto; /* Maintain the aspect ratio */
  }
}


/* Style for the specific text "Newnan the city of homes" */
.custom-text {
  color: #c5efe4; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px; 
  font-weight: bold; 
  padding: 2rem;
}

/* Style for the SVG icon to make it white */
.sidebar-item svg {
  fill: white; /* Set the fill color to white */
}

/*Discover style*/
/* -----Lazy Load Effect-------- */
main.discover picture img[data-src] {
  opacity: 0;
  visibility: hidden;
}

/* -----Discover Page Section-------- */
#discover-heading {
  color: #ffffff; 
  font-size: 24px;
  text-align: center;
  padding: 1.5rem;
  background-color: #01385E;
}
  
.media-card {
  width: 48%; 
  margin: 0 10px;
  overflow: hidden;
  box-shadow: 2px 2px 5px 2px #888;
  margin-bottom: 3rem;
  display: inline-block;
  vertical-align: top;
}

.media-card img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.discover-article {
  padding: 2rem;
  text-align: center;
}

.discover-article p {
  padding-top: 1rem;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .media-card {
    width: 100%; /* Full width for smaller screens */
    margin: 0 0 20px 0;
  }
}


/* Add a shadow to create a lift effect */

.media-card:hover img {
  transform: scale(1.1); 
} 
/* Adjust the styles for the sidebar */
#discover-sidebar {
    grid-column: 2;
    padding:1rem; 
    width: 48%; 
    margin-top: 20px;
}

/* Optionally, add some styling to the sidebar articles */
#discover-sidebar article {
 
  box-shadow: 0.4em 0.4em 0.7em #353535;
  margin-bottom: 15px;
}
#discover-sidebar article h3 {
  padding-top: 0;
  margin: 0 0 0 7px;
}

.stats {
  padding: 8px;
}

#discover-main img {
  transition: 3s;
}

/* Adjustments for the Discover Page layout */
#discover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.media-cards-and-sidebar {
  display: flex;
  flex-wrap: wrap;
}

.media-cards {
  width: 60%; /* Adjust the width of the media cards based on your design */
}


#discover-main img:hover {
  transform: scale(1.01);
}

.daysOfVisit{
  padding-bottom: 2rem;
  padding-top: 2rem;
}


.mediapic {
  width: 400px;
  height: 600px;
  object-fit: cover;
  object-position: center;
  box-shadow: 2px 2px 4px #2f2f2f;
  background-color: rgb(4, 47, 107);
  animation: img-come-in 4s;
 
}

@keyframes img-come-in {
  from {
      transform: scale(0.9);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}

/* Small screens (max-width: 400px) */
@media screen and (max-width: 400px) {
  /* Styles specific to small screens */
}

/* Medium screens (401px - 768px) */
@media screen and (min-width: 401px) and (max-width: 768px) {
  /* Styles specific to medium screens */
}

/* Large screens (769px - 960px) */
@media screen and (min-width: 769px) and (max-width: 960px) {
  /* Styles specific to large screens */
}

/* Extra-large screens (961px - 1220px) */
@media screen and (min-width: 961px) and (max-width: 1220px) {
  /* Styles specific to extra-large screens */
}

/* Extra-large screens (1221px and above) */
@media screen and (min-width: 1221px) {
  /* Styles specific to screens larger than 1220px */
}