* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    color: white;
}

header, footer, nav {
    background-color: #01385Eff;
}

.parent {
    margin: 1rem 2vw;
}

.parent section {
    border: 1px solid #01385Eff;
    background-color: #e9f5e9;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

.parent span {
    background-color: #01385Eff;
    color: #fff;
    display: block;
    text-align: center;
    font-size: large;
    padding: .75rem 0;
    
}

.parent p {
    padding: 10px;
    color: #005245;
}


h1{
    text-align: left;
}

/*Nav styles */ 

    nav {
        text-align: center;
        padding: 0.5rem;
        background-color: #005245;
        margin: 0 auto;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    nav ul {
        list-style-type: none;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }

    nav li{
      height: 50px;
    }

    nav a{
      height: 100%;
      padding: 0 30px;
      text-decoration: none;
      display: flex;
      align-items: center;
      color: #f0f0f0;
     font-family: Acme, Arial, sans-serif;
      font-weight: bold;
      text-align: center;

    }
    nav a:hover{
        background-color: rgba(255, 255, 255, 0.2);
    }

    nav li:first-child{
      margin-right: auto;
    }

    .sidebar{
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 250px;
      z-index: 999;
    
      backdrop-filter: blur(10px);
      box-shadow: -10px 0 10px rgba(145, 63, 63, 0.1);
      display: none;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: #08457e;
    }
    
    .sidebar li{
      width: 100%;
    }

    .sidebar a{
      width: 100%;
    }
    .menu-button{
      display: none;
    }
    @media(max-width: 800px){
      .hideOnMobile{
        display: none;
      }
      .menu-button{
        display: block;
      }
    }

    @media(max-width: 400px){
      .sidebar{
        width: 100%;
      }
    }
    
/*Larger view*/
@media (min-width: 640px){
    nav ul{
        display: flex;
        justify-content: center;

    }nav ul li{
        flex: 1 1 100%;
    }
    }




/* Image profile and name */
header {
    background-color: #01385Eff;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 1rem; /* Add margin-bottom to create separation from other sections */
    box-sizing: border-box;

}

header img {
    margin-right: 10px;
    box-shadow: 2px 2px 5px #888888;
}
.header-text {
    flex-grow: 1;
    background-color: #01385Eff; /* Set background color for the text section */
    padding: 10px; /* Add padding for the text section */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
}

h1 {
    margin: 0;
}

h2 {
    color: #01385Eff;
    margin-bottom: auto;
    padding: 2rem;
}


/* Week link */
.week-link {
    color: #005245;
    font-size: large;
    margin: 1rem 0;
    padding: 0;
    list-style: none;
}

.week-link a {
    color: rgb(2, 77, 130);
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    color: #e9f5e9;
    background-color: #005245;
}

footer p {
    margin: 10px 0;
}

/* small view navigation */

#menu {
	font-size: 2rem;
	border: none;
	padding: .25rem 2vw;
	cursor: pointer;
	color: #fff;
 	position: relative;
	margin-left: 90%;
	top: -2.2rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❤️";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.navigation li {
	display: none;
}



/* when the button is clicked - the open class is toggled (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}

.open li a {
	display: block;
}/* end navigation */


 /* large view navigation */

    #menu {
		display: none; /* hide hamburger button */
	}

    nav {
        grid-area: 2/1/3/3;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
    }

	.navigation li {
		display: block;
		/*flex: 1 1 100%;*/
	}/*end navigation*/
    

/* Dark mode styles */
body.dark-mode {
    background-color: #05181b;
    color: white;
}

#dark-mode-btn {
    background: none;
    border-radius: 30px;
    font-size: 1rem;
    background-color: #006666;
    color: #fff;
    cursor: pointer;
    padding: .5rem;
    margin-bottom: 20px;
    margin-left: 20px; 
}

.dark-mode header, .dark-mode nav {
    background-color: #213a47; /* Dark background color for header and nav */
    color: white;
}


.dark-mode .parent section {
    background-color: #004953; /* Dark background color for section */
}

.dark-mode .parent span {
    background-color: #1a2421; /* Dark background color for span */
}

.dark-mode .parent p {
    color: #e9f5e9;
}

.dark-mode nav {
    color: #006666;
}

.dark-mode a {
    color: #fff;
}

.dark-mode nav a:hover {
    background-color: #08457e;
}

.dark-mode h2 {
    color: #fff;
}

.dark-mode .week-link {
    color: #e9f5e9;
}

.dark-mode li {
    color: #202020;
}

.dark-mode ul {
    color: #202020;
}

.dark-mode footer {
    background-color: #213a47; /* Dark background color for footer */
    color: white;
}
/***Hero Image****/
.hero {
    position: relative;
    
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    padding: 2rem;
    }
    
.herolabel {
    position: absolute;
    top:90%;
    left: 10px;
    margin-left: 40px;
    background: radial-gradient(#e6f5e4, #065e50);
    border: 1px solid rgba(6, 76, 60, 0.991);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.85;
        
    }    
    
.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family:"Great Vibes", serif;
    color: #042545;
    
    }
    
    iframe {
        border: 1px solid #ccc; 
        padding: 4rem;
      } 

      