* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    color: white;
}

header, footer, nav {
    background-color: #01385Eff;
}

.parent {
    margin: 1rem 2vw;
}

.parent section {
    border: 1px solid #01385Eff;
    background-color: #e9f5e9;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

.parent span {
    background-color: #01385Eff;
    color: #fff;
    display: block;
    text-align: center;
    font-size: large;
    padding: .75rem 0;
}

.parent p {
    padding: 10px;
    color: #005245;
}
nav{
    background-color: #005245;
    margin: 0 auto;
  
}
nav ul{
    list-style-type: none;
}
nav a{
    display: block;
    text-align: center;
    padding: 2rem;
    text-decoration: none;
    font-family: Acme, Arial, sans-serif;
    font-weight: bold;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

nav.active{
background-color: rgba(0,0,0,0.3);

}

/*Larger view*/
@media (min-width: 640px){
    nav ul{
        display: flex;
        justify-content: center;

    }nav ul li{
        flex: 1 1 100%;
    }
    }




/* Image profile and name */
header {
    background-color: #01385Eff;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 1rem; /* Add margin-bottom to create separation from other sections */
    box-sizing: border-box;

}

header img {
    margin-right: 10px;
    box-shadow: 2px 2px 5px #888888;
}
.header-text {
    flex-grow: 1;
    background-color: #01385Eff; /* Set background color for the text section */
    padding: 10px; /* Add padding for the text section */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
}

h1 {
    margin: 0;
}

h2 {
    color: #01385Eff;
    margin-right: 10px;
}


/* Week link */
.week-link {
    color: #005245;
    font-size: large;
    margin: 1rem 0;
    padding: 0;
    list-style: none;
}

.week-link a {
    color: rgb(2, 77, 130);
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    color: #e9f5e9;
    background-color: #005245;
}

footer p {
    margin: 10px 0;
}

/* Hamburger button */
#hamburger-btn {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

/* Hide the navigation initially */
nav ul {
    list-style-type: none;
    display: none;
}

/* Update my media query for larger screens */
@media (min-width: 640px) {
    nav ul {
        display: flex;
        justify-content: center;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    #hamburger-btn {
        display: none;
    }
}



/* Dark mode styles */
body.dark-mode {
    background-color: #05181b;
    color: white;
}

#dark-mode-btn {
    background: none;
    border-radius: 30px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.dark-mode header, .dark-mode nav {
    background-color: #213a47; /* Dark background color for header and nav */
    color: white;
}


.dark-mode .parent section {
    background-color: #004953; /* Dark background color for section */
}

.dark-mode .parent span {
    background-color: #1a2421; /* Dark background color for span */
}

.dark-mode .parent p {
    color: #e9f5e9;
}

.dark-mode nav {
    color: #006666;
}

.dark-mode a {
    color: #fff;
}

.dark-mode nav a:hover {
    background-color: #08457e;
}

.dark-mode h2 {
    color: #fff;
}

.dark-mode .week-link {
    color: #e9f5e9;
}

.dark-mode li {
    color: #202020;
}

.dark-mode ul {
    color: #202020;
}

.dark-mode footer {
    background-color: #213a47; /* Dark background color for footer */
    color: white;
}