/* Media Query for Large Screens */
@media only screen and (min-width: 38rem) {
    .parent{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    .parent section{
        box-shadow: 1px 1px 10px black;
    }
}/*end media query*/



/*----Discovery Page-------*/
#discover {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.media-card {
    width: 100%;
    transition: ease-in-out 0.3s;;
    transform: scale(0.9);
}
.media-card:hover {
    transform: scale(1.02);
}




